.single{
    display: flex;
    gap: 50px;
    .content{
        color: var(--white);
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .user{
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 14px;

            .info{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                gap: 15px;
                

                span{
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            .edit{
               display: flex; 
               gap: 10px;
               img{
                width: 30px;
                height: 30px;
                cursor: pointer;
               }
            }
        }
        h1{
            font-family: MonsI;
            font-size: 42px;
            color: var(--white);
        }
        p{
            color: var(--white);
            font-family: Mons;
           text-align: justify; 
           line-height: 30px;
        }
    }
    .menu{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1{
            font-family: Mons;
            font-size: 20px;
            color: var(--white);
        }
        .post{
            display: flex;
            flex-direction: column;
            gap: 10px;

            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            h2{
                font-family: MonsI;
                font-size: 14px;
                color: var(--white);
            }
            button{
                width: max-content;
                padding: 7.5px 15px;
                border: none;
                cursor: pointer;
                background-color: var(--white);
                border: 1px solid var(--pink);
                color: var(--pink);
                font-family: Mons;
                font-weight: 600;
    
                &:hover{
                    border: 1px solid var(--white);
                    color: var(--white);
                    background-color: var(--pink);
                }
            }
        }
    }
}